@import "tailwindcss";

@theme {
  --color-error: #ff716c;
  --color-surface: #0b0f0f;
  --color-on-secondary-fixed: #004142;
  --color-on-tertiary: #003f5a;
  --color-secondary: #22f2f3;
  --color-secondary-fixed: #22f2f3;
  --color-surface-container: #151b1a;
  --color-on-error-container: #ffa8a3;
  --color-surface-variant: #212727;
  --color-on-surface-variant: #a8acab;
  --color-background: #0b0f0f;
  --color-primary-fixed-dim: #3fdfd0;
  --color-tertiary: #68c8ff;
  --color-surface-container-lowest: #000000;
  --color-secondary-container: #006a6a;
  --color-error-dim: #d7383b;
  --color-surface-tint: #53eede;
  --color-on-background: #fafdfc;
  --color-surface-container-high: #1b2121;
  --color-surface-container-highest: #212727;
  --color-on-error: #490006;
  --color-secondary-fixed-dim: #00e3e4;
  --color-on-secondary-fixed-variant: #006061;
  --color-on-tertiary-fixed-variant: #003e58;
  --color-surface-dim: #0b0f0f;
  --color-error-container: #9f0519;
  --color-surface-bright: #272d2d;
  --color-surface-container-low: #101414;
  --color-tertiary-container: #28bcff;
  --color-on-primary-fixed: #00403a;
  --color-on-surface: #fafdfc;
  --color-on-tertiary-fixed: #001a28;
  --color-inverse-on-surface: #525656;
  --color-tertiary-fixed: #28bcff;
  --color-inverse-surface: #f7faf9;
  --color-primary-container: #0dc9ba;
  --color-on-primary: #00554e;
  --color-outline-variant: #454948;
  --color-on-primary-fixed-variant: #005f57;
  --color-primary-fixed: #53eede;
  --color-primary: #53eede;
  --color-on-tertiary-container: #00344b;
  --color-outline: #727676;
  --color-on-primary-container: #003a35;
  --color-on-secondary-container: #d9fffe;
  --color-primary-dim: #3fdfd0;
  --color-tertiary-dim: #00aeef;
  --color-inverse-primary: #006b62;
  --color-secondary-dim: #00e3e4;
  --color-tertiary-fixed-dim: #00aeef;
  --color-on-secondary: #005656;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

body {
  background-color: #0b0f0f;
  color: #fafdfc;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.bioluminescent-glow {
  background: radial-gradient(circle at center, rgba(83, 238, 222, 0.08) 0%, transparent 70%);
}
.glass-panel {
  background: rgba(33, 39, 39, 0.6);
  backdrop-filter: blur(24px);
}
.ghost-border {
  border: 1px solid rgba(69, 73, 72, 0.15);
}
.headline-tracking {
  letter-spacing: -0.02em;
}
.custom-select-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none !important;
}
